* {
  box-sizing: border-box;
}

body {
  padding-bottom: 5px;

  font-family: 'Roboto', sans-serif;
}

.caption {
  margin: 0;
  padding: 18px 0;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.75;

  text-align: center;
}

.caption--address {
  text-align: left;
}

.new-product-items {
  margin: 0 16px 0 14px;
}

.slider-new-tel-two .slick-slide > div {
  margin: 0 3px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;

  margin: 37px 0;

  list-style-type: none;
}

.slick-dots button {
  display: none;
}

.slick-dots li {
  padding: 3px;
  margin: 0 32px 0 0;
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  border-radius: 100%;
  opacity: 1;
  background-color: #a3a3a3;
  cursor: pointer;
}

.slick-dots li:last-child {
  margin: 0;
}

.slick-dots .slick-active {
  background-color: #00A658;
  margin-right: 32px;
  width: 13px;
  height: 13px;
}

.card.card-tel {
  display: grid;

  padding-bottom: 20px;

  min-width: 1px;
  height: 284px;

  border: 3px solid #00a658;
  background-color: #292929;

  text-align: center;

  border-radius: 10px;

  .card-body {

  }
}

.card.card-tel a {
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
}

.card.card-tel:focus {
  outline: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card-tel-img {
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-tel-img a {
  height: 128px;
  padding: 1rem 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card-tel-img a:focus {
  outline: 0;
}
.card-tel-img img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.tel-price {
  font-size: 15px;
  line-height: 22px;
}

.container.main-help-link-wrap {
   margin: 0
}

.main-help-link-wrap {
  border: 2px solid rgba(153, 153, 139, 0.34);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-right: 0;
  border-left: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}

.main-help-link-item {
  display: flex;
  align-items: center;

  font-size: 16px;
}

.main-help-link-item > img {
  margin-right: 13px;

  display: block;
  width: 27px;
  height: 27px;
}

.news-item-bage {
  float: none;
}

.news-shares-wrap {
  margin: 0 14px 15px 16px;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 15px;

  > .news-item-bage {
    background-image: url(../img/percent.png);
    width: 100%;
    max-width: 40px;
    height: 40px;
  }

  > a {
    display: block;

    font-family: 'Fira Sans', sans-serif;
  }

}

.fas.fa-plus {
  font-weight: 600;
  color: #111;
}

.store {
  padding: 0 16px 4px 14px;

  background-color: #212121;
}

.column-info {
}

.card-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
}

.card-tel-credit {
  font-size: 12px;
  line-height: 16px;
}

.adress-street {
  font-size: 16px;
  line-height: 1.625;
}

.shop-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.working-hours img,
.tel-number img {
  margin-right: 7px;
}

.btn-success {
  color: #fff;
  background-color: #00a658;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  background-image: none;
  border-color: #398439;
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-rounded {
  margin: 34.37px auto 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 95%;
  border-radius: 50px;

}

.btn-small {
  margin: 0 auto 23px;
  width: 35%;
  height: auto;
  font-size: 13px;
}

.footer {
  margin: 10px 0;
}