body {
    font-family: Roboto, sans-serif;
    background-color: #212121;
    color: #fff;
}

.container {
    max-width: 1170px;
}

.header-block {
    padding-left: 15px;
}

.navbar {
    background-color: #303030;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.nav-2-line {
    font-family: Scada, sans-sserif;
    font-size: 18px;
    font-weight: 700;
}

.form-inline .form-control {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.fas.fa-search.active {
    color: rgba(255,255,255,.5);
    cursor: pointer;
}

.carousel-indicators li {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 3px;
    width: 13px;
    height: 13px;
    margin-right: 32px;
    opacity: 1;
    background-color: #a3a3a3;

    cursor: pointer;
}

.carousel-indicators li:last-child {
    margin-right: 0;
}

.carousel-circle {
    opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: .8;
}

.news-menu {
    max-width: 480px;
}

.news-item {
    color: #bebebe;
    line-height: 1.57;
}

.active-item {
    color: #00a658;
}

.btn-rounded {
    border-radius: 2rem;
}

.nav.nav-pills li:first-child a {
    padding-left: 0;
}

.nav.nav-pills a:hover {
    color: #00A658;
}

.navbar-collapse.d-flex {
    grid-row-gap: 1.5rem;
}

.form-control,
.form-control:focus {
    background-color: #303030;
    border: 0;
    box-shadow: none;
    color: rgb(255,255,255);
}

.card-date {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 300;

    opacity: .9;
}

.card.card-tel {
    width: 262px;
    height: 444px;
    justify-content: center;
    align-items: center;

    padding-top: 34px;
    border: 3px solid #00A658;
    background-color: #292929;

    text-align: center;

    border-radius: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-new-tel-three .slick-prev.slick-arrow {
    content: '';
    background: url("../img/slick-prev.png") center no-repeat;

    font-size: 47px;
    color: transparent;
    opacity: 1;

    width: 47px;
    height: 47px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.slider-new-tel-three .slick-next.slick-arrow {
    content: '';
    background: url("../img/slick-next.png") center no-repeat;

    font-size: 47px;
    color: transparent;
    opacity: 1;

    width: 47px;
    height: 47px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.slick-list.draggable   .slick-track {
    display: flex;
    grid-gap: 30px;
}

.slider-new-tel-four .slick-prev.slick-arrow {
    content: '';
    background: #00A658 url("../img/slick-prev-green.png") center no-repeat;
    border-radius: 100%;

    font-size: 47px;
    color: transparent;
    opacity: 1;

    width: 47px;
    height: 47px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.slider-new-tel-four .slick-next.slick-arrow {
    content: '';
    background: #00A658 url("../img/slick-next-green.png") center no-repeat;
    border-radius: 100%;

    font-size: 47px;
    color: transparent;
    opacity: 1;

    width: 47px;
    height: 47px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.card-tel-super {
    border: 3px solid #E73F3F;

    position: relative;
}

.card-tel-hit {
    border: 3px solid #cd8240;
}

.card-tel-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-tel-super:before {
    content: "Суперцена";
    background-color: #E73F3F;

    font-size: 20px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;

    padding: 13px 14px;

    border-radius: 5px 5px 0 0;

    position: absolute;
    top: -48px;
    left: 31px;
    z-index: 1;
}

.card-tel-hit:before {
    content: "Топ продаж";
    background-color: #cd8240;

    font-size: 20px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;

    padding: 13px 14px;

    border-radius: 5px 5px 0 0;

    position: absolute;
    top: -48px;
    left: 31px;
    z-index: 1;
}

.tel-model {
    /*margin: 27px 0 29px;*/

    font-size: 16px;
    line-height: 1.375;
    font-weight: 900;
    color: #00A658;

    text-decoration: underline;
}

.card-tel-super .tel-model {
    color: #E73F3F;
}

.card-tel-hit .tel-model {
    color: #cd8240;
}

.tel-price {
    margin-top: 29px;
    font-size: 20px;
    line-height: 1.1;
}

.card-tel-credit {
    margin-top: 13px;

    font-size: 16px;
    line-height: 1.375;
    color: #99998B;
}

.card-tel-credit span {
    color: #fff;
}

.card.text-white {
    line-height: 1.25;
}

.card-news-head {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 900;
}

.card.text-white a {
    color: #fff;
}

.news-2 {
    grid-gap: 29px;
}

.news-2 .card {
    background-color: #343a40;
    width: 263px;
    height: 296px;
}

.card-details a:first-child {
    text-decoration: underline;
}

.store-map-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    grid-column-gap: 30px;
}

.google-map {
    width: 750px;
    height: 610px;
}

.store-adress {
    display: flex;
    flex-direction: column;
}

.card-bg-adress {
    background-color: #212121;
    max-width: 341px;
    border: 0;
}

.card-bg-adress div {
    color: #c4c4c4;
}

.adress-street {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 500;
}

.shop-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
}

.working-hours span,
.tel-number span {
    margin-left: 7px;
}

.btn.btn-success.btn-block.btn-rounded.text-light {
    text-decoration: underline;
}

.footer-menu {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: #111;
}

.inset-brd-btm {
    border-bottom: 1px solid #404040;
}

footer {
    background-color: #303030;
}

footer .soc a {
    margin-left: 20px
}


@media (max-width: 1200px) {
    .google-map {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .news-2 {
        justify-content: center;
    }

    .news-2-wrap h1 {
        text-align: center;
    }

}
 @media (max-width: 375px) {
     .news-2 .card {
         width: 100%;
     }

     .google-map {
         width: 345px;
         height: 327px;
     }
 }