### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk# Created by .ignore support plugin (hsz.mobi)

.dist
.cache
.idea
/dist/-10Т-с-кнопкой.1024x1024.82f057c4.png
/dist/-iphone-c.1024x1024.43ae3053.png
/dist/EwLCR2YqzvFQDvn87obB.1024x1024.41ce1008.jpg
/dist/GoIconFont.8e82bdf4.woff
/dist/IMG_20201227_211508_992.1024x1024.ebbd2ef6.jpg
/dist/index.html
/dist/index.js
/dist/index.js.map
/dist/jquery.87f08830.js
/dist/jquery.87f08830.js.map
/dist/Lite-2.1024x1024.5ea4d00e.JPG
/dist/mobile.ae25e8dd.js
/dist/mobile.ae25e8dd.js.map
/dist/Note9S6.1024x1024.29a92a91.png
/dist/old-mobile.dfedec75.css
/dist/old-mobile.dfedec75.css.map
/dist/old-mobile.dfedec75.js
/dist/old-style.b04310f0.css
/dist/old-style.b04310f0.css.map
/dist/old-style.b04310f0.js
/dist/poco-x3-slider-c3.1024x1024.b154c8ef.jpg
/dist/rassrochka-go.1024x1024.0846ae66.jpg
/dist/realme-6-6i.1024x1024.3b7bb2d2.png
/dist/search.a3177960.js
/dist/search.a3177960.js.map
/dist/shops.531e0c9d.js
/dist/shops.531e0c9d.js.map
/dist/swiper.min.9e21d52d.js
/dist/swiper.min.9e21d52d.js.map
/dist/theme_fonts_icomoon_icomoon_style.0b6ae8ba.css
/dist/theme_fonts_icomoon_icomoon_style.0b6ae8ba.css.map
/dist/theme_fonts_icomoon_icomoon_style.0b6ae8ba.js
